.footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 30px;
}

@media screen  and (max-width: 350px){
    .footer {
        font-size: 14px;
    }
}

@media screen  and (max-width: 550px){

}