.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.logo img {
    width: 50px;
    height: 50px;
}

.logo p {
    font-size: 20px;
    border-bottom: 5px solid transparent;
    cursor: pointer;
}

.menu {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   padding: 10px 15px;
   width: 100%;
}

.icones-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 30px;
}

.icones-menu a {
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: 18px;
    border-bottom: 5px solid transparent;
}

.icones-menu a:hover, .logo p:hover{
    border-bottom: 5px solid yellow;
}

@media screen  and (max-width: 350px){
    .menu {
        display: flex;
        flex-direction: column;
        gap: 20px;
        
     }
}

@media screen  and (max-width: 550px){
    .menu {
        display: flex;
        flex-direction: column;
        gap: 20px;
     }
}