.container-contato {
    width: 100%;
    height: 80vh;
    background-color: #05031b;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.faleconosco {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.faleconosco h2 {
    font-size: 35px;
}

.faleconosco p {
    font-size: 18px;
    width: 90%;
    text-align: center;
}

.container-contato-rede {
    width: 600px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.container-contato-rede img {
    width: 20px;
    height: 20px;

}

.contato , .redes-sociais{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 300px;
    height: 200px;

}

.container-contato-rede h3 {
    font-size: 18px;
    margin-left: 0;
}

.container-contato-rede a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-left: 0;
}

.container-contato-rede a:hover {
    color: yellow;
}

@media screen  and (min-width: 350px){
    .container-contato {
        height: 100%;
    }

    .container-contato-rede {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 50px;
    }

    .contato , .redes-sociais{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        width: 250px;
    }

    .faleconosco h2 {
        font-size: 30px;
        margin-top: 5px;
    }

    .faleconosco p {
        font-size: 18px;
        width: 90%;
        text-align: justify;
    }
}

@media screen  and (min-width: 767px){
    
}