.container-produtos {
    width: 100%;
    
}

.container-texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 30px;
}

.container-texto h2 {
    font-size: 35px;
}

.container-texto p {
    font-size: 20px;
    color: rgba(128, 128, 128, .8);
    width: 100%;
    
}

.container-oculos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.container-oculos div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 300px;
    gap: 20px;
}

.container-oculos div img {
    width: 300px;
    max-height: 100px;
}

.container-oculos div h2 {
    font-size: 30px;
}

.container-oculos div p {
    font-size: 20px;
    font-weight: bold;
}

.container-incluem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 100px;
    font-weight: 600;
    font-size:20px;
}

.container-incluem ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
}

@media screen  and (min-width: 350px){
    .container-texto h2 {
        text-align: center;
        font-size: 30px;
    }

    .container-texto p {
        font-size: 18px;
        text-align: justify;
    }

    .container-incluem {
        font-size:16px;
    }
    
    .container-incluem ul{
       width: 80%;
       text-align: left;
    }

    .container-incluem ul li{ 
        width: 80%;
        text-align: left;
     }
}

@media screen  and (min-width: 767px){

}